
// This file is used by the application server to determine if a class is
// required to be loaded from the system class loader. If a class being
// loaded is within the packages or classes listed here, it can not be loaded
// by the web application's class loader (eg. overridden by the web app).

// A system class that is not within the scope of these lists will not be
// visible to the web applications class loader.

// This list is also used by the compiler's file manager. If a request for a
// class is made by the compiler that is not within the scope of these lists,
// the compiler will not find the class and fail to compile a project that
// tries to use it.


// The system packages scope;

packages {

  // AWT

  "java.awt",
  "java.awt.color",
  "java.awt.font",
  "java.awt.geom",
  "java.awt.image",
  "java.awt.image.renderable",
  "javax.imageio",
  "javax.imageio.event",
  "javax.imageio.metadata",
  "javax.imageio.plugins.bmp",
  "javax.imageio.plugins.jpeg",
  "javax.imageio.spi",
  "javax.imageio.stream",

  "java.beans",
  "java.beans.beancontext",
  "java.io",
  "java.lang",
  "java.lang.annotation",
//  "java.lang.instrument",
  "java.lang.invoke",
  "java.lang.management",
  "java.lang.ref",
  "java.lang.reflect",
  "java.math",
  "java.net",
  "java.nio",
  "java.nio.channels",
  "java.nio.channels.spi",
  "java.nio.charset",
  "java.nio.charset.spi",
  "java.nio.file",
  "java.security",
  "java.security.acl",
  "java.security.cert",
  "java.security.interfaces",
  "java.security.spec",
  "java.sql",
  "java.text",
  "java.text.spi",
  "java.util",
  "java.util.concurrent",
  "java.util.concurrent.atomic",
  "java.util.concurrent.locks",
  "java.util.jar",
  "java.util.logging",
  "java.util.prefs",
  "java.util.regex",
  "java.util.spi",
  "java.util.zip",

  "javax.accessibility",
  "javax.activation",
  "javax.activity",
  "javax.annotation",
  "javax.annotation.processing",
  "javax.annotation.security",
  "javax.annotation.sql",
  "javax.crypto",
  "javax.crypto.interfaces",
  "javax.crypto.spec",
  "javax.lang.model",
  "javax.lang.model.element",
  "javax.lang.model.type",
  "javax.lang.model.util",
  "javax.mail",
  "javax.mail.event",
  "javax.mail.internet",
  "javax.mail.search",
  "javax.mail.util",
  "javax.naming",
  "javax.naming.directory",
  "javax.naming.event",
  "javax.naming.ldap",
  "javax.naming.spi",
  "javax.net",
  "javax.net.ssl",
  "javax.script",
  "javax.security.auth",
  "javax.security.auth.callback",
  "javax.security.auth.kerberos",
  "javax.security.auth.login",
  "javax.security.auth.message",
  "javax.security.auth.message.callback",
  "javax.security.auth.message.config",
  "javax.security.auth.message.module",
  "javax.security.auth.spi",
  "javax.security.auth.x500",
  "javax.security.cert",
  "javax.security.sasl",
  "javax.sql",
  "javax.sql.rowset",
  "javax.sql.rowset.serial",
  "javax.sql.rowset.spi",
// Doesn't look good to expose this,
//  "javax.tools",
  "javax.transaction",
  "javax.transaction.xa",
  "javax.xml",
  "javax.xml.bind",
  "javax.xml.bind.annotation",
  "javax.xml.bind.annotation.adapters",
  "javax.xml.bind.attachment",
  "javax.xml.bind.helpers",
  "javax.xml.bind.util",
  "javax.xml.crypto",
  "javax.xml.crypto.dom",
  "javax.xml.crypto.dsig",
  "javax.xml.crypto.dsig.dom",
  "javax.xml.crypto.dsig.keyinfo",
  "javax.xml.crypto.dsig.spec",
  "javax.xml.datatype",
  "javax.xml.namespace",
  "javax.xml.parsers",
  "javax.xml.soap",
  "javax.xml.stream",
  "javax.xml.stream.events",
  "javax.xml.stream.util",
  "javax.xml.transform",
  "javax.xml.transform.dom",
  "javax.xml.transform.sax",
  "javax.xml.transform.stax",
  "javax.xml.transform.stream",
  "javax.xml.validation",
  "javax.xml.xpath",

  "org.w3c.dom",
  "org.w3c.dom.bootstrap",
  "org.w3c.dom.css",
  "org.w3c.dom.events",
  "org.w3c.dom.html",
  "org.w3c.dom.ls",
  "org.w3c.dom.ranges",
  "org.w3c.dom.stylesheets",
  "org.w3c.dom.traversal",
  "org.w3c.dom.views",

  "org.xml.sax",
  "org.xml.sax.ext",
  "org.xml.sax.helpers",

  // EE Servlet/JSP packages,

  // javax.el-api
  "javax.el",
  // javax.servlet (3.0)
  "javax.servlet",
  "javax.servlet.annotation",
  "javax.servlet.descriptor",
  "javax.servlet.http",
  "javax.servlet.resources",
  // javax.servlet.jsp (2.2)
  "javax.servlet.jsp",
  "javax.servlet.jsp.el",
  "javax.servlet.jsp.resources",
  "javax.servlet.jsp.tagext",

  // Java 8 Nashorn

  "jdk.nashorn.api",
  "jdk.nashorn.api.scripting",
  "jdk.nashorn.api.tree",
  "jdk.nashorn.internal",
  "jdk.nashorn.internal.codegen",
  "jdk.nashorn.internal.ir",
  "jdk.nashorn.internal.lookup",
  "jdk.nashorn.internal.objects",
  "jdk.nashorn.internal.parser",
  "jdk.nashorn.internal.runtime",
  "jdk.nashorn.internal.runtime.linker",
  "jdk.nashorn.internal.scripts",

  // Non Java API packages we treat as system classes

  "com.mckoi.apihelper",
  "com.mckoi.webplatform",
  "com.mckoi.webplatform.jasper.servlet",
  "com.mckoi.webplatform.jetty",
  "com.mckoi.webplatform.nashorn",
  "com.mckoi.webplatform.protocols.mwpfs",
//  "com.mckoi.webplatform.rhino",
  "com.mckoi.webplatform.util",
  "com.mckoi.process",
  "com.mckoi.odb.util",

  // We have to add this package for Sun JVM's because of bug 6265952

  "sun.reflect",

  // For the java compiler,

  "com.sun.tools.javac.resources",
  "com.sun.tools.javac.code",

  // For cryptography,

  "com.sun.crypto.provider",

  // For Tomcat (JSP runtime),

  "com.sun.el",
  "com.sun.el.lang",
  "com.sun.el.parser",
  "com.sun.el.util",
  "org.apache.el",
  "org.apache.jasper",
  "org.apache.jasper.el",
  "org.apache.jasper.runtime",
  "org.apache.jasper.util",
//  "javax.servlet.jsp.jstl.core",

  // Jetty Continuations
  "org.eclipse.jetty.continuation",
  // Jetty WebSockets
  "org.eclipse.jetty.websocket",

  // ---- Review these: should these be 'system' packages? ----

  // The jopt-simple packages,
  "com.mckoi.lib.joptsimple",
  "com.mckoi.lib.joptsimple.internal",
  "com.mckoi.lib.joptsimple.util",

  // Export the application core utilities

  "com.mckoi.appcore.utils",


  // Technically, we shouldn't allow this one through.
  //   This is repackaging/refactoring of some Apache Ant file tools,

  "com.mckoi.webplatform.anttools",

  // Again, technically it's bad form to include these.

  "org.json",
  "junit.extensions",
  "junit.framework",
  "junit.runner",
  "junit.textui",
  "org.junit",
  "org.junit.experimental",
  "org.junit.experimental.categories",
  "org.junit.experimental.max",
  "org.junit.experimental.results",
  "org.junit.experimental.runners",
  "org.junit.experimental.theories",
  "org.junit.experimental.theories.internal",
  "org.junit.experimental.theories.suppliers",
  "org.junit.internal",
  "org.junit.internal.builders",
  "org.junit.internal.matchers",
  "org.junit.internal.requests",
  "org.junit.internal.runners",
  "org.junit.internal.runners.model",
  "org.junit.internal.runners.rules",
  "org.junit.internal.runners.statements",
  "org.junit.matchers",
  "org.junit.rules",
  "org.junit.runner",
  "org.junit.runner.manipulation",
  "org.junit.runner.notification",
  "org.junit.runners",
  "org.junit.runners.model",
  "org.hamcrest",
  "org.hamcrest.core",
  "org.hamcrest.internal",

}


// The system classes scope;

classes {

  "org.apache.tomcat.PeriodicEventListener",
  "org.apache.tomcat.InstanceManager",

  "com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl",
  "com.sun.org.apache.xerces.internal.parsers.XIncludeAwareParserConfiguration",
  "com.sun.org.apache.xerces.internal.impl.dv.dtd.DTDDVFactoryImpl",
  "com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl",

  // MckoiDDB classes

  "com.mckoi.data.AbstractKey",
  "com.mckoi.data.AddressableDataFile",
  "com.mckoi.data.ByteArray",
  "com.mckoi.data.CriticalStopError",
  "com.mckoi.data.DataAccessException",
  "com.mckoi.data.DataFile",
  "com.mckoi.data.DataFileUtils",
  "com.mckoi.data.DataPositionOutOfBoundsException",
  "com.mckoi.data.DataRange",
  "com.mckoi.data.FixedSizeSerialSet",
  "com.mckoi.data.Index64Bit",
  "com.mckoi.data.Index64BitUtils",
  "com.mckoi.data.IndexObjectCollator",
  "com.mckoi.data.Integer128Bit",
  "com.mckoi.data.Iterator64Bit",
  "com.mckoi.data.JavaByteArray",
  "com.mckoi.data.Key",
// (Include this or not? Shouldn't ever be necessary for client to use this)
//  "com.mckoi.data.KeyObjectDatabase",
  "com.mckoi.data.KeyObjectTransaction",
  "com.mckoi.data.OrderedList64Bit",
  "com.mckoi.data.OrderedSetData",
  "com.mckoi.data.OrderedSetString",
  "com.mckoi.data.PropertySet",
  "com.mckoi.data.StringData",
  "com.mckoi.data.TreeReportNode",

// Is this in the right package?
  "com.mckoi.network.CommitFaultException",

// Utils
  "com.mckoi.util.BigNumber",
  "com.mckoi.util.GeneralFormatter",
  "com.mckoi.util.GeneralParser",
  "com.mckoi.util.IOWrapStyledPrintWriter",
  "com.mckoi.util.PropertyRead",
  "com.mckoi.util.PropertyWrite",
  "com.mckoi.util.StyledPrintUtil",
  "com.mckoi.util.StyledPrintWriter",
  "com.mckoi.util.TimeFrame",

// This is used for secure access stuff
  "com.mckoi.network.BlockId",
  "com.mckoi.network.DataAddress",
  "com.mckoi.network.DiscoveredNodeSet",
  "com.mckoi.network.MachineProfile",
  "com.mckoi.network.MckoiDDBAccess",
  "com.mckoi.network.NetworkAccess",
  "com.mckoi.network.NetworkAdminException",
  "com.mckoi.network.PathInfo",
  "com.mckoi.network.ServiceAddress",


// If SDB access is allowed,
//  "com.mckoi.sdb.RowCursor",
//  "com.mckoi.sdb.SDBFile",
//  "com.mckoi.sdb.SDBIndex",
//  "com.mckoi.sdb.SDBRow",
//  "com.mckoi.sdb.SDBTable",

  // ODB classes
  "com.mckoi.odb.ClassValidationException",
  "com.mckoi.odb.ConstraintViolationException",
  "com.mckoi.odb.FieldInfo",
  "com.mckoi.odb.ODBClass",
  "com.mckoi.odb.ODBClassCreator",
  "com.mckoi.odb.ODBClassDefinition",
  "com.mckoi.odb.ODBData",
  "com.mckoi.odb.ODBList",
  "com.mckoi.odb.ODBListIterator",
  "com.mckoi.odb.ODBObject",
  "com.mckoi.odb.ODBOrderSpecification",
  "com.mckoi.odb.ODBReferenced",
  "com.mckoi.odb.ODBRootAddress",
  "com.mckoi.odb.ODBTransaction",
  "com.mckoi.odb.ODBTrustedObject",
  "com.mckoi.odb.Reference",


  // com.mckoi.appcore classes,
  "com.mckoi.appcore.AccountLoggerSchema",
  "com.mckoi.appcore.AppCoreAdmin",
  "com.mckoi.appcore.CommandProcessor",
  "com.mckoi.appcore.PathLocation",
  "com.mckoi.appcore.ServerRolesSchema",
  "com.mckoi.appcore.SystemStatics",
  "com.mckoi.appcore.UserApplicationsSchema",


  // ODB formatter,
  "com.mckoi.gui.ODBHTMLFormatter",


  // Misc AWT classes,

  "sun.font.AttributeValues",

}
