<!-- Login template page -->

<div id='mwplogin'>

  <h3>Mckoi Web Platform Login</h3>

  <p>
    <a href="#popup" id="link_popup_a">Click here to open a new login window.</a>
  </p>

  <div id='error_report' class='error'></div>

  <form id='login_form'>

    <div class="chkfield"><input type="checkbox" name="websocket" value="yes" /> Use HTML Web Sockets (not supported in all browsers)</div>

    <div class="infield"><input type='text' name='user' /> Username</div>
    <div class="infield"><input type='password' name='pass' /> Password</div>
    
    <div class="smtfield"><input type='submit' name='btn' value='Login' /></div>

  </form>

</div>
