span.css-at {color: #708;}
span.css-unit {color: #DBDB1F;}
span.css-value {color: #FFFFFF;}
span.css-identifier {color: #CF6A2B;}
span.css-selector {color: #FFFFFF;}
span.css-important {color: #D33;}
span.css-colorcode {color: #DBDB1F;}
span.css-comment {color: #1785D4;font-style:italic;}
span.css-string {color: #DBDB1F;}
