span.js-keyword {color: #CF6A2B;}
span.js-atom {color: #DBDB1F;}
span.js-variabledef {color: #ffffff;}
span.js-variable {color: #20e020;}
span.js-localvariable {color: #ffffff;}
span.js-comment {color: #1785D4;font-style:italic;}
span.js-string {color: #DBDB1F;}
